* {
    font-family: Nunito serif;
}
.wrap{
    display: flex;
    justify-content: center;
}

.main{
    width: 940px;
    height: 467px;
    text-align: start;
}
.title{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
}
.category{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin: 0;
}

.text{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
}
.textDiv{
    width: 940px;
    height: 467px;
}