* {
    font-family: Nunito serif;
}
.main {
    width: 940px;;
    height: 100vh;
    margin: 0 auto;
}
.searchAndContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentDiv {
    width: 940px;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchSad {
    width: 300px;
    margin: 150px auto;
}
.searchSad img {
    margin-left: 80px;
    margin-bottom: 20px;
}
.searchSad p {
    font-family: Nunito;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #5D5D5D;
}
