.exit{
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 213px;
    height: 44px;
    gap: 24px;
    color: black;
}

.searchAndFilter{
    width: 353px;
    height: 44px;
    gap: 16px;
    display: flex;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    width: 100%;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 8px;
}

.clearButton {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    width: 120px;
    background-color: rgba(75, 224, 190, 0.82);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}